{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>QazJolGZI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/karzav.css' %}">
</head>

<body class="body">
    {% if request.user.role is None %}
        <script>
            window.location.href = "{% url 'polls:login_user' %}"
        </script>
    {% endif %}

    <div class="page_header">
        <div class="header_logo">
            <div class="logo">
                <a href="{% url 'title' %}"><img src="/static/images/logo_qazjol_kz.png" class="logo_png"/></a>
            </div>
        </div>
        <div class="header_menu">
            <ul class="menu_list" id="menuList">
                <li class="list_item"><a href="{% url 'mapp' %}">Карта карьеров</a></li>
                <li class="list_item"><a href="{% url 'karzav_list' %}">Карьеры и заводы</a></li>
                <li class="list_item selected_link"><a href="{% url 'invtech_list' %}" >Реестр инновационных технологий</a></li>
                <li class="list_item"><a href="{% url 'entapp_form' %}">Отправить заявку на внесение</a></li>
                {% if request.user.is_authenticated %}
                    {% if request.user.role.id == 3 or request.user.role.id == 4 %}
                        <li class="list_item"><a href="{% url 'entapp_list' %}">Заявки</a></li>
                    {% endif %}
                    <li class="list_item"><a href="{% url 'polls:profile' %}">Профиль</a></li>
                {% else %}
                    <li class="list_item"><a href="{% url 'polls:login_user' %}">Войти</a></li>
                {% endif %}
                <!--
              <li class="list_item dropdown">
                  <a href="#" class="dropdown-toggle" >Kz</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Kz</a></li>
                    <li><a href="#">En</a></li>
                    <li><a href="#">Ru</a></li>
                  </ul>
              </li>-->
            </ul>
        </div>
        <div class="logo">
            <button class="menu menu_icon" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened')); togglemenu()" aria-label="Main Menu">
                <svg width="50" height="60" viewBox="0 0 100 60">
                  <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                  <path class="line line2" d="M 20,50 H 80" />
                  <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </div>
    </div>

    <div class="page_content">
        <div class="content-title">
            <h2 style="text-align:center;"><b>Реестр инновационных технологий</b></h2>
        </div>
        <div class="content">

            <div class="filters">
                <div class="search_form">
                    <form id="search_form" class="form_for_search">
                        <input type="text" id="search_inp" class="search_inp" name="q" placeholder="Поиск...">
                        <button type="submit" class="search_btn"><i class="fa fa-search"></i></button>
                    </form>
                    <button id="dropdown" onclick="togglefilter()" class="dropdown_btn"><i id="dropdown_icon" class="fa"></i></button>
                </div>

                <div class="filter-collection" id="filter-collection">

                    <div class="filter">
                        <select class="selects" id="technologies" url = "{% url 'get_technologies' %}"/></select>
                    </div>

                    <div class="filter">
                        <select class="selects" id="statusy" url = "{% url 'get_statusy' %}"/></select>
                    </div>

                    <div class="filter">
                        <select class="selects" id="usingareas" url = "{% url 'get_usingareas' %}"/></select>
                    </div>

                    <div class="filter">
                        <select class="selects" id="providers" url = "{% url 'get_providers' %}"/></select>
                    </div>

                    <div class="filter">
                        <select class="selects" id="producers" url = "{% url 'get_producers' %}"/></select>
                    </div>

                    <div class="filter">
                        <select class="selects" id="sort_by">
                            <option selected="true" disabled="disabled" value = "none">Сортировка</option>
                            <option value='by_invtech'>по технологиям</option>
                            <option value='by_usingarea'>по областям применения</option>
                            <option value='by_providers'>по поставщикам</option>
                            <option value='by_producers'>по производителям</option>
                        </select>
                    </div>

                    <div class="filter">
                        <button class="selects" id="display_all">Показать все</button>
                    </div>
                </div>
            </div>


            <div id="fltr0" class="boxes" style="display: block;">
                <div id = "no_results">
                    <h5>Результаты не найдены</h5>
                </div>
                <table id="itlist_data" url = "{% url 'itlisting' %}" class="table-content">
                    <tbody id="itlisting" class="tbody-content"></tbody>
                </table>
            
                <div class="paginate">
                    <nav aria-label="navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <button class="btn btn-primary-my page-link" id="previous"><<</button>
                            </li>
                            <li class="page-item pull-right">
                                <button class="btn btn-primary-my page-link" id="next">>></button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="page_footer">
        <div class="footer-col1">
            &#169; Все права защищены
        </div>
        <div class="footer-col2">
            <div class="ftitle"> <b>Контакты</b> </div>
            <div class="fval">г. Астана, ул. Туран 75</div>
            <div class="fval fphones">
                <a href="tel:+7 (7172) 72-98-17" style="color:black;">+7 (7172) 72-98-17</a>
            </div>
            <div class="fvals">
                <a href="mailto:kense@qazjolgzi.kz" style="color:black;">kense@qazjolgzi.kz</a>
            </div>
        </div>
        <div class="footer-col3">
            АО “КаздорНИИ”
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var menu_list = document.getElementById('menuList');
    menu_list.style.maxHeight = "0px";

    function togglemenu() {
        menu_list.style.color = "white";
        if (menu_list.style.maxHeight == "0px") {
            menu_list.style.maxHeight = "300px"
        }
        else {
            menu_list.style.maxHeight = "0px"
        }
    };


    // переменная, которая хранит всю информацию о фильтре
    var send_data = {}
        
    $(document).ready(function () {
        // сбросить все параметры при загрузке страницы
        resetFilters();

        // привести все данные без всяких фильтров
        getAPIData();
        
        getTechnologies();
        getStatusy();
        getUsingareas();
        getProviders();
        // получить все producers из БД через вызов AJAX в опции выбора страны
        getProducers();

        $('#technologies').on('change', function () {
            if(this.value == "all")
                send_data['invtech'] = "";
            else
                send_data['invtech'] = this.value;
            getAPIData();
        });

        $('#statusy').on('change', function () {
            if(this.value == "all")
                send_data['status'] = "";
            else
                send_data['status'] = this.value;

            getAPIData();
        });
        
        $('#usingareas').on('change', function () {
          if(this.value == "all")
              send_data['usingarea'] = "";
          else
              send_data['usingarea'] = this.value;
          getAPIData();
        });

        $('#providers').on('change', function () {
            if(this.value == "all")
                send_data['prov_name'] = "";
            else
                send_data['prov_name'] = this.value;

            getAPIData();
        });

        // при выборе опции producers
        $('#producers').on('change', function () {
            // обновить выбранную nedrouser
            if(this.value == "all")
                send_data['prod_name'] = "";
            else
                send_data['prod_name'] = this.value;

            // получить данные API обновленных фильтров
            getAPIData();
        });

        $('#sort_by').on('change', function () {
            send_data['sort_by'] = this.value;
            getAPIData();
        });

        // отображать результаты после сброса фильтров
        $("#display_all").click(function(){
            resetFilters();
            getAPIData();
        })

        $("#search_form").submit(function(e) {
            e.preventDefault();
            send_data['search'] = $("#search_inp").val();
            getAPIData();
        });
    })


    /* Функция, которая сбрасывает все фильтры */
    function resetFilters() {
        $("#technologies").val("all");
        $("#statusy").val("all");
        $("#usingareas").val("all");
        $("#providers").val("all");
        $("#producers").val("all");
        $("#sort_by").val("none");
        $("#search_inp").val("");
        
        send_data['invtech'] = '';
        send_data['status'] = '';
        send_data['usingarea'] = '';
        send_data['prov_name'] = '';
        send_data['prod_name'] = '';
        send_data["sort_by"] = '',
        send_data["search"] = '',
        send_data['format'] = 'json';
    }


    /* Вспомогательная функция для демонстрации данных API, которые мы получили от серверной части, в содержимое таблицы. */
    function putTableData(result) {
        // создание строки таблицы для каждого результата и нажатие на html-содержимое тела таблицы таблицы списка
        let row;
        if(result["results"].length > 0){
            $("#no_results").hide();
            $("#itlist_data").show();
            $("#itlisting").html("");
            $.each(result["results"], function (a, b) {
                colorname = "#e03636"
                if (b.status == "апробирован") {
                    colorname = "#99db9c"
                }             
                row = "<div class='box'>" + 
                "<div class='inside_box1'> " +
                "<tr> <td class='label1'>Технология:</td> <td class='record'> <a href='#' onClick='ClickLink2(event)'>" + b.invtech + "</a> </td> </tr> <br/>" + 
                "<tr> <td class='label1'>Область применения:</td> <td class='record'>" + b.usingarea + "</a> </td> </tr> <br/>" + 
                "<tr> <td class='label1'>Поставщик:</td> <td class='record'>" + b.prov_name + "</a> </td> </tr> <br/>" +
                "<tr> <td class='label1'>Производитель:</td> <td class='record'>" + b.prod_name + "</a> </td> </tr>" +
                "</div>" +
                "<div class='inside_box2'> " +
                "<tr> <td class='label0'>Статус:</td> <td class='record0'>" + b.status + "</a> </td> </tr> <br/>" + 
                "<div style='width: 100%; height: 5px; border-radius: 25px; background-color:" + colorname + "'></div>" +
                "</div>" +
                "</div>"
                $("#itlisting").append(row);
            });
        }
        else{
            // если для данного фильтра не найдено результата, то не отображать результат
            $("#no_results h5").html("No results found");
            $("#itlist_data").hide();
            $("#no_results").show();
        }

        // установка URL предыдущей и следующей страницы для данного результата
        let prev_url = result["previous"];
        let next_url = result["next"];

        // кнопка отключения-включения в зависимости от наличия следующей/предыдущей страницы
        if (prev_url === null) {
            $("#previous").addClass("disabled");
            $("#previous").prop('disabled', true);
        } else {
            $("#previous").removeClass("disabled");
            $("#previous").prop('disabled', false);
        }
        if (next_url === null) {
            $("#next").addClass("disabled");
            $("#next").prop('disabled', true);
        } else {
            $("#next").removeClass("disabled");
            $("#next").prop('disabled', false);
        }

        // установка URL-адреса
        $("#previous").attr("url", result["previous"]);
        $("#next").attr("url", result["next"]);

        // отображение количества результатов
        $("#result-count span").html(result["count"]);
    }

    $("#next").click(function () {
        // загрузите данные следующей страницы и поместите результат в тело таблицы, выполнив вызов ajax для следующего доступного URL-адреса
        let url = $(this).attr("url");
        if (!url)
            $(this).prop('all', true);

        $(this).prop('all', false);
        $.ajax({
            method: 'GET',
            url: url,
            success: function (result) {
                putTableData(result);
            },
            error: function(response){
                console.log(response)
            }
        });
    })

    $("#previous").click(function () {
        // загрузите данные предыдущей страницы и поместите результат в тело таблицы, выполнив ajax-вызов предыдущего доступного URL-адреса
        let url = $(this).attr("url");
        if (!url)
            $(this).prop('all', true);

        $(this).prop('all', false);
        $.ajax({
            method: 'GET',
            url: url,
            success: function (result) {
                putTableData(result);
            },
            error: function(response){
                console.log(response)
            }
        });
    })


    function getAPIData() {
        let url = $('#itlist_data').attr("url")
        $.ajax({
            method: 'GET',
            url: url,
            data: send_data,
            beforeSend: function(){
                $("#no_results h5").html("Загрузка данных...");
            },
            success: function (result) {
                putTableData(result);
            },
            error: function (response) {
                $("#no_results h5").html("Что-то пошло не так");
                $("#itlist_data").hide();
            }
        });
    }


    function getTechnologies() {
        let url = $("#technologies").attr("url");

        $.ajax({
            method: 'GET',
            url: url,
            data: {},
            success: function (result) {
                technologies_option = "<option value='all' selected>Технология</option>";
                $.each(result["technologies"], function (a, b) {
                    technologies_option += "<option>" + b + "</option>"
                });
                $("#technologies").html(technologies_option)
            },
            error: function(response){
                console.log(response)
            }
        });
    }


    function getStatusy() {
        let url = $("#statusy").attr("url");

        $.ajax({
            method: 'GET',
            url: url,
            data: {},
            success: function (result) {
                statusy_option = "<option value='all' selected>Статус</option>";
                $.each(result["statusy"], function (a, b) {
                    statusy_option += "<option>" + b + "</option>"
                });
                $("#statusy").html(statusy_option)
            },
            error: function(response){
                console.log(response)
            }
        });
    }


    function getUsingareas() {
        let url = $("#usingareas").attr("url");

        $.ajax({
            method: 'GET',
            url: url,
            data: {},
            success: function (result) {
              usingareas_option = "<option value='all' selected>Область применения</option>";
                $.each(result["usingareas"], function (a, b) {
                  usingareas_option += "<option>" + b + "</option>"
                });
                $("#usingareas").html(usingareas_option)
            },
            error: function(response){
                console.log(response)
            }
        });
    }


    function getProviders() {
        let url = $("#providers").attr("url");
        let providers_option = "<option value='all' selected>Поставщики</option>";
        $.ajax({
            method: 'GET',
            url: url,
            data: { },
            success: function (result) {
                $.each(result["providers"], function (a, b) {
                  providers_option += "<option>" + b + "</option>"
                });
                $("#providers").html(providers_option)
            },
            error: function(response){
                console.log(response)
            }
        });
    }


    function getProducers() {
        // заполните параметры producers, сделав вызов ajax, чтобы получить URL-адрес из producers, выберите входной атрибут
        let url = $("#producers").attr("url");

        // делает запрос к методу getProducers(request) в представлениях
        $.ajax({
            method: 'GET',
            url: url,
            data: {},
            success: function (result) {
                producers_option = "<option value='all' selected>Производители</option>";
                $.each(result["producers"], function (a, b) {
                    producers_option += "<option>" + b + "</option>"
                });
                $("#producers").html(producers_option)
            },
            error: function(response){
                console.log(response)
            }
        });
    }

    function ClickLink2(evt) {
        var clickedLink = evt.target; // get the clicked anchor tag
        var linkres2 = clickedLink.innerText;
        document.cookie = "alink2=" + linkres2;
        var l = "{% url 'invtech_infov' %}";
        location.href = l;
    }

    
    var dropdown_icon = document.getElementById('dropdown_icon');
    dropdown_icon.classList.add('fa-angle-down');
    var filter_collection = document.getElementById('filter-collection');

    var maxHeight = "0px";
    filter_collection.style.maxHeight = maxHeight;

    function togglefilter() {
        if ( filter_collection.style.maxHeight == "0px") {
            dropdown_icon.classList.remove('fa-angle-down');
            dropdown_icon.classList.add('fa-angle-up');
            filter_collection.style.maxHeight = "65vh";
        } else {
            dropdown_icon.classList.add('fa-angle-down');
            var maxHeight = "0px";
            if (window.innerWidth > 1065) {
                maxHeight = "65vh";
            }
            filter_collection.style.maxHeight = maxHeight;
        }
    }

    const dropdownToggle = document.querySelector('.dropdown-toggle');
    const dropdownMenu = document.querySelector('.dropdown-menu');
    const dropdownItems = dropdownMenu.querySelectorAll('li');
    
    // set the initial language selection
    const initialSelection = dropdownItems[0].textContent;
    dropdownToggle.textContent = initialSelection;
    
    // toggle the dropdown menu
    dropdownToggle.addEventListener('click', function() {
      dropdownMenu.classList.toggle('show');
    });
    
    // select a new language
    dropdownItems.forEach(function(item) {
      item.addEventListener('click', function(e) {
        e.preventDefault();
        const selectedLang = item.textContent;
        dropdownToggle.textContent = selectedLang;
        dropdownMenu.classList.remove('show');
      });
    });
</script>
</html>