<script>
    const alink = JSON.parse(sessionStorage.getItem('alink'));
    var hidres = alink[0];
    document.getElementById("hidres").value = hidres;
    alert(alink[0]);
    console.log(alink[0]);
    var alinkg = alink[0];

    dict = { [alinkg]: alinkg }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    fetch("http://127.0.0.1:8000/karzav/karzav_card/", {
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            "x-Requested-With": "XMLHttpRequest",
            "Content-Type": "application/json",
        },
        method: 'POST',
        body: JSON.stringify(dict),
    })
</script>


<form action="" method="POST" id="hidresform">
    <input type="text" id="hidres" name="hidres" onblur="refresh(this)" autofocus>
    <input type="submit" value="ok" id="snd">
</form>


function refresh(obj) {
    var val = obj.value;
    if (val.trim()!="") {
        document.getElementById('snd').click();
        alert('input is not empty');
    }
    else {
        alert('Empty!!!');
    }
}



var isResizeble = false;
if(isResizeble == false) {
    SendData();
    isResizeble = true;
}

<form onSubmit="return send_data(this)" action="" method="POST" id="hidresform" name="hidresform" class="hidresform">


    function send_data() {
        alert(hidres.value);
        return false;
    }
        
    //SendData();

    function SendData() {
        var val = document.getElementById("hidres").value;
        if (val.trim()!="") {
            $("#hidresform").submit(function (e) {
                //e.preventDefault();
                return false;
            }
            //document.getElementById("hidresform").submit();
            alert('input is not empty');
        }
        else {
            alert('Empty!!!');
        }
    }

    
    var val = document.getElementById("hidres").value;    
    if (val.trim()!="") {
        alert('input is not empty');
    
        $("#hidresform").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: 'POST',
                url: "{% url 'karzav_cardv' %}",
                data: {
                    'hidres': val,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success: function() { alert('Saved'); }
            })
        });
    }
    else {
        alert('Empty!!!');
    }

    
    $("#hidresform").submit(function (e) {
        e.preventDefault();
         var form_data = $(this).serialize(); // Собираем все данные из формы
         $.ajax({
             method: "POST", // Метод отправки
             url: "{% url 'karzav_cardv' %}", // Путь до php файла отправителя
             data: form_data,
             success: function () {
                 // Код в этом блоке выполняется при успешной отправке сообщения
                 alert("Ваше сообщение отправлено!");
             }
         });
         fetch(form.action, {
            method: "post",
            body: //new FormData(form) // for multipart/form-data
            new URLSearchParams(new FormData(form)) //for application/x-www-form-urlencoded
        });
     });