{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/karzav.css' %}">
</head>

<body class="body">

    {% if request.user.role.id != 3 and request.user.role.id != 4 %}
      <script>
          window.location.href = "{% url 'polls:login_user' %}"
      </script>
    {% endif %}

    <div class="page_header">
        <div class="header_logo">
            <div class="logo">
                <a href="{% url 'title' %}"><img src="/static/images/logo_qazjol_kz.png" class="logo_png" alt=""/></a>
            </div>
        </div>
        <div class="header_menu">
            <ul class="menu_list" id="menuList">
                <li class="list_item"><a href="{% url 'mapp' %}" >Карта карьеров</a></li>
                <li class="list_item"><a href="{% url 'karzav_list' %}" >Карьеры и заводы</a></li>
                <li class="list_item"><a href="{% url 'invtech_list' %}" >Реестр инновационных технологий</a></li>
                <li class="list_item"><a href="{% url 'entapp_form' %}">Отправить заявку на внесение</a></li>
                {% if request.user.is_authenticated %}
                    {% if request.user.role.id == 3 or request.user.role.id == 4 %}
                        <li class="list_item selected_link"><a href="{% url 'entapp_list' %}">Заявки</a></li>
                    {% endif %}
                    <li class="list_item"><a href="{% url 'polls:profile' %}">Профиль</a></li>
                {% else %}
                    <li class="list_item"><a href="{% url 'polls:login_user' %}">Войти</a></li>
                {% endif %}
{#                <li class="list_item dropdown">#}
{#                    <a href="#" class="dropdown-toggle">Kz</a>#}
{#                    <ul class="dropdown-menu">#}
{#                      <li><a href="#">Kz</a></li>#}
{#                      <li><a href="#">En</a></li>#}
{#                      <li><a href="#">Ru</a></li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
        </div>
        <div class="logo">
            <button class="menu menu_icon" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened')); togglemenu()" aria-label="Main Menu">
                <svg width="50" height="60" viewBox="0 0 100 60">
                  <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                  <path class="line line2" d="M 20,50 H 80" />
                  <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </div>
    </div>

    <div class="page_content">
        <div class="content-title">
            <h2 style="text-transform: uppercase; text-align: center"><b>Заявка</b></h2>
        </div>

        <div class="content">
            <div class="itinfo_image">
                {% for ai in image_list %}
                  <div class="image_list"><img src="{{ ai }}" class="itimage"></div>
                {% endfor %}
            </div>
            <div class="itinfo_block">
                  <div class="card">
                      {% for ai in appits %}
                      <div class="card-footer">
                        <div class="progress1">
                          {% if ai.status == 'апробирован' %}
                          <div style="width: 15px; height: 15px; border-radius: 15px; background-color: #99db9c"></div>
                          {% else %}
                          <div style="width: 15%; height: 15px; border-radius: 15px; background-color: #e03636"></div>
                          {% endif %}
                        </div>
  
                        <div class="status">
                          <span>{{ai.status}}</span>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="card-text">
                          <div class="row">
                              <table class="table-content">
  
                              <div style="padding-left: 15px;">
                              <p>Название технологий: {{ ai.invtech }}</p>
                              <p>Отправитель: {{ ai.lname }} {{ ai.fname }}, {{ ai.email }}</p>
                              <p>Область применения: {{ ai.usingarea }}</p>
                              <p>Поставщик: {{ ai.prov_name }}</p>
                              <p>Производитель: {{ ai.prod_name }}</p>
                              {% if ai.otchet_kazdornii is not None %}
                                  <p>Отчет КАЗДОРНИИ: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.otchet_kazdornii }}' target="_blank">{{ ai.otchet_kazdornii }}</a></p>
                              {% endif %}
                              {% if ai.passport_safety is not None %}
                                  <p>Паспорт безопастности: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.passport_safety }}' target="_blank">{{ ai.passport_safety }}</a></p>
                              {% endif %}
                              {% if ai.rrk is not None %}
                                  <p>Рекомендации РК: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.rrk }}' target="_blank">{{ ai.rrk }}</a></p>
                              {% endif %}
                              {% if ai.conclusion_kazdornii is not None %}
                                  <p>Заключение КаздорНИИ: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.conclusion_kazdornii }}' target="_blank">{{ ai.conclusion_kazdornii }}</a></p>
                              {% endif %}
                              {% if ai.certification_reference is not None %}
                                  <p>Справка о сертификации: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.certification_reference }}' target="_blank">{{ ai.certification_reference }}</a></p>
                              {% endif %}
                              {% if ai.quality_certificate is not None %}
                                  <p>Сертификат качества: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.quality_certificate }}' target="_blank">{{ ai.quality_certificate }}</a></p>
                              {% endif %}
                              {% if ai.conformity_certificate is not None %}
                                  <p>Сертификат соответствия: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.conformity_certificate }}' target="_blank">{{ ai.conformity_certificate }}</a></p>
                              {% endif %}
                              {% if ai.lab_conclusion is not None %}
                                  <p>Заключение лаборатории: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.lab_conclusion }}' target="_blank">{{ ai.lab_conclusion }}</a></p>
                              {% endif %}
                              {% if ai.ses_expert_conclusion is not None %}
                                  <p>Экспертное Заключение CЭС: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.ses_expert_conclusion }}' target="_blank">{{ ai.ses_expert_conclusion }}</a></p>
                              {% endif %}
                              {% if ai.state_registration_certificate is not None %}
                                  <p>Справка о государственной регистрации: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.state_registration_certificate }}' target="_blank">{{ ai.state_registration_certificate }}</a></p>
                              {% endif %}
                              {% if ai.akt is not None %}
                                  <p>АКТ: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.akt }}' target="_blank">{{ ai.akt }}</a></p>
                              {% endif %}
                              {% if ai.addition is not None %}
                                  <p>АКТ: <a href='/static/uploads/invtech_files/{{ ai.invtech }}/{{ ai.addition }}' target="_blank">{{ ai.addition }}</a></p>
                              {% endif %}
                              </div>
                              </table>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                  </div>
              </table>
              <iframe src="{{ pdffile }}" class="itinfo_frame" ></iframe>
              <br/>
              {% for ai in appits %}
              {% if ai.sent_status == 'в ожиданий' %}
                <textarea class="entapp-comment" id="comment" name="comment" rows="4" cols="50" placeholder="Напишите причину отклонения ..."></textarea>
                <div style="display: flex; margin-top: 3vh; justify-content: space-between">
                    <button type="submit" class="entapp-button" id="acceptbtn" value="{{ ai.it_id }}" onclick="acceptClicked()">Принять</button>
                    <button type="submit" class="entapp-button" style="background-color: #DA6060" id="rejectbtn" value="{{ ai.it_id }}" onclick="rejectClicked()">Отклонить</button>
                </div>
              {% endif %}

              {% if ai.sent_status == 'отклонено' %}
                <textarea class="entapp-comment" id="comment" name="comment" rows="4" cols="50" placeholder="Напишите причину отклонения ..." disabled>{{ ai.comments }}</textarea>
                <div style="display: flex; margin-top: 3vh; justify-content: space-between">
                    <button type="submit" class="entapp-button" id="acceptbtn" value="{{ ai.it_id }}" onclick="acceptClicked()" disabled>Принять</button>
                    <button type="submit" class="entapp-button" style="background-color: #DA6060" id="rejectbtn" value="{{ ai.it_id }}" onclick="rejectClicked()" disabled>Отклонить</button>
                </div>
              {% endif %}

              {% endfor %}

            </div>
          </div>
    </div>


    <div class="page_footer">
        <div class="footer-col1">
            &#169; Все права защищены
        </div>
        <div class="footer-col2">
            <div class="ftitle"> <b>Контакты</b> </div>
            <div class="fval">г. Астана, ул. Туран 75</div>
            <div class="fval fphones">
                <a href="tel:+7 (7172) 72-98-17" style="color:black;">+7 (7172) 72-98-17</a>
            </div>
            <div class="fvals">
                <a href="mailto:kense@qazjolgzi.kz" style="color:black;">kense@qazjolgzi.kz</a>
            </div>
        </div>
        <div class="footer-col3">
            АО “КаздорНИИ”
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var menu_list = document.getElementById('menuList');
    menu_list.style.maxHeight = "0px";

    function togglemenu() {
        menu_list.style.color = "white";
        if (menu_list.style.maxHeight == "0px") {
            menu_list.style.maxHeight = "300px"
        }
        else {
            menu_list.style.maxHeight = "0px"
        }
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    
    function acceptClicked() {
        var itid_acc = document.getElementById("acceptbtn").value;        
        $.ajax({
            type: "POST",
            url: "{% url 'entapp_invtech' %}",
            data: { 'itid_acc': itid_acc, },
            headers: { 'X-CSRFToken': csrftoken },
            success: function (response_data) {
                alert(response_data.message);
            }
        });
        alert('acceptClicked --- ' + itid_acc);

        var l = "{% url 'entapp_list' %}";
        location.href = l;
    };

    function rejectClicked() {
        var itid_rej = document.getElementById("rejectbtn").value;
        //alert('rejectClicked --- ' + itid_rej);
        const textarea = document.getElementById('comment');
        var comment = $.trim($("#comment").val());
        if(comment != ""){
            //alert('comment --- ' + comment);
            var rej_comment = comment;
            textarea.value = '';
                
            $.ajax({
                type: "POST",
                url: "{% url 'entapp_invtech' %}",
                data: { 'itid_rej': itid_rej, 'rej_comment': rej_comment, },
                headers: { 'X-CSRFToken': csrftoken },
                success: function (response_data) {
                    alert(response_data.message);
                }
            });

            var l = "{% url 'entapp_list' %}";
            location.href = l;
        }
        else {
            alert('Надо указать причину отклонения!');
            var l = "{% url 'entapp_invtech' %}";
            location.href = l;
        }
    };
</script>