{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
    <title>Регистрация</title>
</head>
<body>

<div class="body-auth">
    <div class="content-auth-text fadeInDown">
        <div class="h-auth fadeIn first">
                <h2 class="active"> Восстановление пароля </h2>
                <div class="h-auth-line">
                    <div class="" style="background-color: #424B5A; border-radius: 60px; height: 5px; width: 35px"></div>
                    <div style="background-color: #424B5A; border-radius: 60px; height: 5px; width: 15px; margin-left: 5px"></div>
                </div>
            </div>
        <div class="input-auth-line-text fadeIn third">
            <h3>Проверьте свою электронную почту.</h3>
            <h3>Мы отправили вам инструкцию по установке пароля по электронной почте.</h3>
            <h3>Вы должны получить письмо в ближайшее время!</h3>
        </div>
    </div>

</div>

</body>
</html>