{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
    <title>Восстановление пароля</title>
</head>
<body>

<div class="body-auth">
    <div class="content-auth-text fadeInDown">
        <div class="h-auth fadeIn first">
            <h2 class="active"> Установите новый пароль! </h2>
            <div class="h-auth-line">
                <div class="" style="background-color: #424B5A; border-radius: 60px; height: 5px; width: 35px"></div>
                <div style="background-color: #424B5A; border-radius: 60px; height: 5px; width: 15px; margin-left: 5px"></div>
            </div>
        </div>

        <div class="form-auth fadeIn second">
            <div id="result_msg" style="color: darkred">
                {% if form.errors %}
                        {% for field_errors in form.errors.values %}
                            {% for error in field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                {% endif %}
            </div>

            <form method="POST">

              {% csrf_token %}
              <div class="input-auth-line-text fadeIn Third" style="margin-top: 2vh; margin-bottom: 5vh">
                  <div class="password-block-auth">
                       <input type="password" class="duo" id="password-field1" name="{{ form.password1.name }}" placeholder="Введите новый пароль:" required>
                       <button class="button-password-auth" type="button" id="toggle-password-visibility1">
                            <svg id="hide-icon1" fill="#424B5A" width="16" height="16" viewBox="0 0 512 512">
                                <path d="M409.84,132.33l95.91-95.91A21.33,21.33,0,1,0,475.58,6.25L6.25,475.58a21.33,21.33,0,1,0,30.17,30.17L140.77,401.4A275.84,275.84,0,0,0,256,426.67c107.6,0,204.85-61.78,253.81-161.25a21.33,21.33,0,0,0,0-18.83A291,291,0,0,0,409.84,132.33ZM256,362.67a105.78,105.78,0,0,1-58.7-17.8l31.21-31.21A63.29,63.29,0,0,0,256,320a64.07,64.07,0,0,0,64-64,63.28,63.28,0,0,0-6.34-27.49l31.21-31.21A106.45,106.45,0,0,1,256,362.67ZM2.19,265.42a21.33,21.33,0,0,1,0-18.83C51.15,147.11,148.4,85.33,256,85.33a277,277,0,0,1,70.4,9.22l-55.88,55.88A105.9,105.9,0,0,0,150.44,270.52L67.88,353.08A295.2,295.2,0,0,1,2.19,265.42Z"/>
                            </svg>
                            <svg id="show-icon1" fill="#424B5A" width="16" height="16" viewBox="0 0 512 512">
                                <path d="M320,256a64,64,0,1,1-64-64A64.07,64.07,0,0,1,320,256Zm189.81,9.42C460.86,364.89,363.6,426.67,256,426.67S51.14,364.89,2.19,265.42a21.33,21.33,0,0,1,0-18.83C51.14,147.11,148.4,85.33,256,85.33s204.86,61.78,253.81,161.25A21.33,21.33,0,0,1,509.81,265.42ZM362.67,256A106.67,106.67,0,1,0,256,362.67,106.79,106.79,0,0,0,362.67,256Z"/>
                            </svg>
                       </button>
                  </div>
                  <div class="password-block-auth">
                        <input type="password" class="duo" id="password-field2" name="{{ form.password2.name }}" placeholder="Повторите новый пароль:" required>
                        <button class="button-password-auth" type="button" id="toggle-password-visibility2">
                            <svg id="hide-icon2" fill="#424B5A" width="16" height="16" viewBox="0 0 512 512">
                                <path d="M409.84,132.33l95.91-95.91A21.33,21.33,0,1,0,475.58,6.25L6.25,475.58a21.33,21.33,0,1,0,30.17,30.17L140.77,401.4A275.84,275.84,0,0,0,256,426.67c107.6,0,204.85-61.78,253.81-161.25a21.33,21.33,0,0,0,0-18.83A291,291,0,0,0,409.84,132.33ZM256,362.67a105.78,105.78,0,0,1-58.7-17.8l31.21-31.21A63.29,63.29,0,0,0,256,320a64.07,64.07,0,0,0,64-64,63.28,63.28,0,0,0-6.34-27.49l31.21-31.21A106.45,106.45,0,0,1,256,362.67ZM2.19,265.42a21.33,21.33,0,0,1,0-18.83C51.15,147.11,148.4,85.33,256,85.33a277,277,0,0,1,70.4,9.22l-55.88,55.88A105.9,105.9,0,0,0,150.44,270.52L67.88,353.08A295.2,295.2,0,0,1,2.19,265.42Z"/>
                            </svg>
                            <svg id="show-icon2" fill="#424B5A" width="16" height="16" viewBox="0 0 512 512">
                                <path d="M320,256a64,64,0,1,1-64-64A64.07,64.07,0,0,1,320,256Zm189.81,9.42C460.86,364.89,363.6,426.67,256,426.67S51.14,364.89,2.19,265.42a21.33,21.33,0,0,1,0-18.83C51.14,147.11,148.4,85.33,256,85.33s204.86,61.78,253.81,161.25A21.33,21.33,0,0,1,509.81,265.42ZM362.67,256A106.67,106.67,0,1,0,256,362.67,106.79,106.79,0,0,0,362.67,256Z"/>
                            </svg>
                        </button>
                  </div>
                  <button type="submit" style="border-radius: 15px; margin-top: 2vh" id="login" class="button-auth fadeIn fourth">Поменять пароль</button>
              </div>

            </form>
        </div>
    </div>
</div>

</body>
<script>
  const passwordField1 = document.getElementById("password-field1");
  const toggleButton1 = document.getElementById("toggle-password-visibility1");
  const hideIcon1 = document.getElementById("hide-icon1");
  const showIcon1 = document.getElementById("show-icon1");
  hideIcon1.style.display = "block";
  showIcon1.style.display = "none";

  toggleButton1.addEventListener("click", function () {
    if (passwordField1.type === "password") {
      passwordField1.type = "text";
      hideIcon1.style.display = "none";
      showIcon1.style.display = "block";
    } else {
      passwordField1.type = "password";
      hideIcon1.style.display = "block";
      showIcon1.style.display = "none";
    }
  });

  const passwordField2 = document.getElementById("password-field2");
  const toggleButton2 = document.getElementById("toggle-password-visibility2");
  const hideIcon2 = document.getElementById("hide-icon2");
  const showIcon2 = document.getElementById("show-icon2");
  hideIcon2.style.display = "block";
  showIcon2.style.display = "none";

  toggleButton2.addEventListener("click", function () {
    if (passwordField2.type === "password") {
      passwordField2.type = "text";
      hideIcon2.style.display = "none";
      showIcon2.style.display = "block";
    } else {
      passwordField2.type = "password";
      hideIcon2.style.display = "block";
      showIcon2.style.display = "none";
    }
  });
</script>
</html>