{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
    <title>Восстановление пароля</title>
</head>
<body>

<div class="body-auth">
    <div class="content-auth-text fadeInDown">
        <div class="h-auth fadeIn first">
            <h2>Восстановление пароля</h2>
            <div class="h-auth-line">
                <div class="" style="background-color: #424B5A; border-radius: 60px; height: 5px; width: 35px"></div>
                <div style="background-color: #424B5A; border-radius: 60px; height: 5px; width: 15px; margin-left: 5px"></div>
            </div>
        </div>

        <div class="form-auth fadeIn second">
            <div id="result_msg" style="color: darkred">
                {% if form.errors %}
                        {% for field_errors in form.errors.values %}
                            {% for error in field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                {% endif %}
            </div>

            <form method="POST">

              {% csrf_token %}
              <div class="input-auth-line-text fadeIn Third line-btm">
                  <input class="input-auth" style="width: 22vw" type="email" name="{{ form.email.name }}" placeholder="Электронная почта">
                  <button style="margin-top: 2vh" type="submit" id="login" class="button-auth fadeIn fourth">Отправить</button>
              </div>

            </form>
        </div>
    </div>
</div>

</body>
